.task-container {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #abd1e7;
    background-color: aliceblue;
    border-radius: 0.5em;
}

.task-container > * {
    padding: 5px;
}

.task-name {
    font-size: 1.5em;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-top: 15px;
}

.buttons-container > * {
    flex: 1;
    margin-right: 5px;
}